<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
    <h2 class="mt-4">Create a new listing</h2>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data"> <!-- enctype added for file upload -->

        <div>
            <label for="title" class="form-label">Title</label> 
             <input type="text" name="listing[title]" placeholder="enter the title" class="form-control" required>
             <div class="invalid-feedback">Please enter a title</div>
         </div>
        <br>

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea  type="text" name="listing[description]" placeholder="enter the description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a description</div>
        </div>
        <br>

        <!-- <div>
            <label for="image" class="form-label">Image url</label>
            <input type="text" name="listing[image]" placeholder="enter the image url" class="form-control">
        </div> -->
         
         <div>
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" placeholder="enter the image url" class="form-control">
        </div>
        <br>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="enter the price" class="form-control" required>
            <div class="invalid-feedback">Please enter a price</div>
        </div>
       

        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="enter the location" class="form-control" required>
            <div class="invalid-feedback">Please enter a location</div>
        </div>
        <br>
        </div>
        

        <div>
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="enter the country" class="form-control" required>
            <div class="invalid-feedback">Please enter a country</div>
        </div>
        <br>

        <div>
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-control" required>
                <option value="">Select a category</option>
                <option value="Trending">Trending</option>
                <option value="Top Rated">Top Rated</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Pools">Pools</option>
                <option value="Castles">Castles</option>
                <option value="Forest">Forest</option>
                <option value="Skiing">Skiing</option>
                <option value="Play">Play</option>
            </select>
            <div class="invalid-feedback">Please select a category</div>
        </div>
        <br>

        <button class=" add-btn btn btn-dark mb-3 ">Add</button>
    </form>
    </div>
</div>
